#container {
    display: flex;
    flex-direction: row;
}

#header-container {
    width: 100vw;
    height: 15vh;
    display: flex;

    background-color: #272727;

    align-items: center;
    justify-content: flex-start;
}

#header-container img {
    width: 6rem;
    height: 6rem;

    margin-left: 2rem;
    
    cursor: pointer;
}

#header-container #options {
    display: flex;

    margin-left: 17rem;
}