#header-container {
    width: 100vw;
    height: 15vh;
    display: flex;

    background-color: #272727;

    flex: 1;
    align-items: center;
}

#header-container #img-logo {
    width: 8vw;
    height: 12vh;

    padding-left: 2vw;
    
    cursor: pointer;
}

#header-container #options {
    display: flex;
    flex-direction: row;
    
    flex: 0.95;
}